html{
    height: 100%;
}

body{
    overflow: hidden;
    perspective: 25px;
    height: 100%;

    &.light {
        background: white;
        .line {
            background-color: #222;
        }
        .vline {
            background-color: #222;
        }
        #tabs {
            .tab-name{
                &:after, &:before{
                    background: black;
                }
            }
        }
        #center-section{
            #screen{
                background: white;
            }
        }
        p{
            color: #222;
        }
        #mission {
            h1{
                color: rgba(0, 0, 0, 0.2);

                &:hover, &.mv-active{
                    color: rgba(0, 0, 0, 1.0);
                }

                &:after{
                    background: black;
                }
            }
        }
    }

    &.dark {
        background: black;
        .line {
            background-color: white;
        }
        .vline {
            background-color: white;
        }
        #tabs {
            .tab-name{
                &:after, &:before{
                    background: white;
                }
            }
        }
        #center-section{
            #screen{
                background: black;
            }
        }
        p{
            color: white;
        }
        .icon{
            filter: invert(1);
        }
        #mission {
            h1{
                color: rgba(255, 255, 255, 0.2);

                &:hover, &.mv-active{
                    color: white;
                }

                &:after{
                    background: white;
                }
            }
        }
    }

    #navigation{   
        display: grid;

        grid-template-areas:
            'header'
            'center'
            'footer';

        grid-template-rows: 13vh 1fr 13vh;
        height: 100%;

        .line {
            height: 3px;
            width: -webkit-fill-available;
            margin-left: 12px;
            margin-right: 12px;
            border-radius: 2px;
        }
        
        .vline {
            height: 0px;
            width: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            border-radius: 1px;
        
            &.active {
                height: 72px;
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }

        #tabs {
            display: flex;
            align-items: center;
            height: 13vh;
            width: calc(100vw - 26vh);
            margin-left: 13vh;
            z-index: 4;

            .tab-name{
                margin-left: 18px;
                margin-right: 18px;
                font-weight: 700;
                font-size: 24px;
                cursor: pointer;
                position: relative;
                
                p{
                    margin: 0px;
                }
            
                &:first-child{
                    margin-left: 0px;
                }
            
                &:last-child{
                    margin-right: 0px;
                }
            
                &:after, &:before{
                    display: block;
                    content: '';
                    height: 2px;
                    position: absolute;
                    transition-duration: 300ms;
                    width: 0%;
                    border-radius: 2px;
                }
            
                &:after{
                    margin-top: 3px;
                }
            
                &:before{
                    margin-left: 100%;
                    margin-top: -3px;
                }
            
                &:hover:after{
                    width: 100%;
                }
            
                &:hover:before{
                    width: 100%;
                    margin-left: 0px;
                }
            }
        }

        #center{
            grid-area: center;
            display: flex;
            justify-content: flex-end;

            .gutter{
                width: 13vh;
                z-index: 3;
            }
    
            #right-gutter{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &.hidden{
                    transform: translateX(10vh);
                }
    
                .scroll-tab{
                    margin: 0;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 2px;
                    cursor: pointer;
                    font-weight: 700;
    
                    &.active-tab, &:hover{
                        font-size: 32px;
                    }
                }
            }
        }

        #lower-row {
            width: calc(100vw - 26vh);
            margin-left: 13vh;
            height: 13vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 4;
            grid-area: footer;

            &.hidden{
                transform: translateY(10vh);
            }
    
            .signature {
                font-size: 2rem;
                width: 142px;
                margin: 0;
                margin-bottom: 12px;
            }
    
            #icon-list {
                display: flex;
    
                .icon {
                    width: 32px;
                    height: 32px;
                    margin: 3px;
                    cursor: pointer;
    
                    &:hover {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }
    
    #home{
        display: grid;
        position: absolute;
        top: 0;

        &.hidden #background, &.hidden #center-section, &.hidden #screen{
            transform: translateX(-100%) !important;
            filter: opacity(0.0);
        }

        #background{
            position: absolute;
            -webkit-filter: blur(50px) contrast(1.2) saturate(1.5) opacity(0.7);
            margin-top: 5vh;
            margin-left: 5vw;
            width: 90vw;
            height: 90vh;
            z-index: -2;
        }

        #front-layer{
            transition: all 300ms, opacity 0ms ease 300ms;
        }

        #center-section{
            display: flex;
            justify-content: flex-end;
            height: 74vh;
    
            #screen{
                position: absolute;
                width: calc(100vw - 26vh);
                height: 74vh;
                border-radius: 12px;
                top: 13vh;
                left: 13vh;
                box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.05);

                #back-layer{
                    z-index: 1;
                }

                #front-layer{
                    z-index: 3;
                }

                #nathan-title {
                    margin-top: 17vh;
                    margin-left: 5%;
                    position: absolute;
                    color: white;
                    z-index: 2;

                    div {
                        display: flex;
                        align-items: center;
                        margin-left: 8px;
                    }

                    h1 {
                        color: white;
                        font-size: 110px;
                        margin: 0px;
                        line-height: 110px;
                        font-family: 'Montserrat';
                    }
                }
        
                img {
                    position: absolute;
                    height: 74vh;
                    width: calc(100vw - 26vh);
                    object-fit: cover;
                    border-radius: 12px;
                }
        
                &.scaled{ 
                    top: 0;
                    left: 0;
                    height: 100vh;
                    width: 100vw;
                    border-radius: 0px;
        
                    #back-layer, #front-layer {
                        opacity: 0.0;
                    }
                }

                #page-2 {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    height: 74vh;
                    margin-top: 13vh;
                    margin-left: 13vh;
                    opacity: 0.0;


                    #mission {
                        opacity: 0.0;
                        transform: translateY(24px);
                        h1{
                            font-size: 100px;
                            cursor: pointer;
                            margin: 100px 0px;
                            font-family: 'Montserrat';

                            &:after{
                                display: block;
                                content: '';
                                height: 4px;
                                position: absolute;
                                transition-duration: 300ms;
                                width: 0%;
                                border-radius: 2px;
                            }

                            &.mv-active:after{
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }    
    }

    #projects{
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 0;
        transform: translateX(0%);

        &.hidden{
            transform: translateX(100%);
        }

        p{
            cursor: default;
        }
    }
    
    #blogs{
        position: absolute;
        background: green;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
    }

    &.immersive{
        #home{
            #screen{
                transform: none !important;
            }
            #front-layer{
                transition: all 300ms, opacity 0ms !important;
            }
            #page-2 {
                z-index: 4;
                opacity: 1.0 !important;
            }
            div div{
                #page-1 img:not(.icon){
                    height: 100vh !important;
                    width: 100vw !important;
                }
            }
            #nathan-title {
                margin-top: 30vh !important;
                margin-left: 30% !important;
                opacity: 0.0;
            }
            #learn-more{
                opacity: 0.0;
            }
            #mission{
                transition-delay: 300ms;
                transition-duration: 300ms;
                opacity: 1.0 !important;
                transform: translateY(0px) !important;
            }
        }
    }


}

@media only screen and (min-width: 900px){
    body {
        #home {
            #center-section {
                #screen {
                    #nathan-title {
                        margin-left: 25%;
                    }
                }
            }
        }
    }
}